.navigation-menu {
  background: #1976d2;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.navigation-menu li {
  background: #4791db;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.75rem;
}

.navigation-menu li:nth-of-type(2n) {
  background: #1976d2;
}

.navigation-menu li:hover {
  background: #115293;
}

.navigation-menu a {
  color: #e5e5e5;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  font-size: 1rem;
}

.navigation-menu a:hover {
  cursor: pointer;
}

.content {
  width: 80%;
  margin: 40px auto;
  padding-top: 75px;
  transition: all 0.5s;
  position: relative;
  left: 0;
}
